
<aside [class.closed]="!isSidebarOpen">
    <!-- Elementos: Un boton que lleva al inicio, consultas para visitantes, artefactos, exhibiciones, museos, empresas, familias, tematicas, exhibiciones y recorridos-->
    <nav>
        <ul>
            <li>
                <a routerLink="/home" >Inicio</a>
            </li>
            <li>
                <a routerLink="/visitor-search-list" >Visitantes</a>
            </li>
            <li>
                <a routerLink="/unavailable-search-list" >Artefactos</a>
            </li>
            <li>
                <a routerLink="/unavailable-search-list" >Exhibiciones</a>
            </li>
            <li>
                <a routerLink="/unavailable-search-list" >Museos</a>
            </li>
            <li>
                <a routerLink="/unavailable-search-list" >Empresas</a>
            </li>
            <li>
                <a routerLink="/unavailable-search-list" >Familias</a>
            </li>
            <li>
                <a routerLink="/unavailable-search-list" >Tematicas</a>
            </li>
            <li>
                <a routerLink="/unavailable-search-list" >Exhibiciones</a>
            </li>
            <li>
                <a routerLink="/unavailable-search-list" >Recorridos</a>
            </li>
        </ul>
    </nav>
</aside>