.table-container {
    padding: 20px;
    /* align items in the center */
    margin: 0 auto;
    /* border */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  table {
    width: 80%;
    border-collapse: collapse;
    border-radius: 8px;

  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  

  th {
    background-color: #1b242b;
    color: white;
    text-align: left;
  }

  label{
    color: #1b242b;
    font-size: 18px;
    font-weight: bold;
    padding: auto;
    margin-left: 20px;
  }

  h2 {
    color: #1b242b;
    font-size: 24px;
    font-weight: bold;
    padding: auto;
    margin-left: 20px;
  }

  span 
    {
        color: #1b242b;
        font-size: 18px;
        font-weight: bold;
        padding: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
  
  /* la paginacion va al centro */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 
    position: relative;
    left: -10%;
  }
  
  .pagination button {
    padding: 5px 10px;
  }

.search-container {
    margin-top: 20px;
    color : rgb(0, 0, 0);
  }
  
  .search-container input {
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-container button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    margin-left: 10px;
  }
  
  .search-container button:hover {
    background-color: #e6e6e6;
  }
  
  .search-container button:active {
    background-color: #d9d9d9;
  }
  
  .search-container button:focus {
    outline: none;
  }
  
  .search-container button:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
  }
  
  .search-container button:disabled:hover {
    background-color: #f2f2f2;
  }
  
  .search-container button:disabled:active {
    background-color: #f2f2f2;
  }
  
  .search-container button:disabled:focus {
    outline: none;
}

.search-container select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
}