<aside class="sidebar" >
  <div *ngIf="userData" class="profile-section">
    <img [src]="userData.avatar" alt="Avatar" />
    <div>
      <h2>Hola, {{ userData.name }}</h2>
      
      <a href="/profile">Ver perfil</a>
    </div>
  </div>
  <nav class="menu">
    <h3 (click)="toggleMenu()">Visualización de datos</h3>
    <ul [class.open]="menuOpen">
      <li><a href="/artefacts">Artefactos</a></li>
      <li><a href="/companies">Empresas</a></li>
      <li><a href="/exhibitions">Exhibiciones</a></li>
      <li><a href="/families">Familias</a></li>
      <li><a href="/museums">Museos</a></li>
      <li><a href="/tours">Recorridos</a></li>
      <li><a href="/themes">Temáticas</a></li>
      <li><a href="/visitors">Visitantes</a></li>
    </ul>
  </nav>
  <button (click)="logout()">Finalizar sesión</button>
</aside>
