<h1> Consultas implementadas relacionadas a visitantes</h1>
<div class="search-container">
    <div class="search" (click)="navigate('visitors-change-rate')">
        <p> <b> Porcentaje de cambio de visitantes por rango temporal </b> </p>
        <p> Añadida el 30 de junio del 2024 </p>
    </div>
    <div class="search" (click)="navigate('visitors-and-exhibitions')">
        <p> <b> Visitantes y exhibiciones recorridas </b> </p>
        <p> Añadida el 30 de junio del 2024 </p>
    </div>
    <div class="search" (click)="navigate('visitors-by-attendances')">
        <p> <b>Visitantes por número de asistencias</b> </p>
        <p> Añadida el 30 de junio del 2024 </p>
    </div>
</div>