<h1 class="welcome"> Que gusto tenerte de vuelta </h1>
<p class="welcome"> ¿Qué deseas hacer hoy? </p>
<div class="last-searches-card">
    <h2> Consultas añadidas recientemente </h2>

    <div class="last-searches">
        <div class="last-search" (click)="navigate('visitors-change-rate')">
            <p> <b> Porcentaje de cambio de visitantes por rango temporal </b> </p>
            <p> Añadida el 30 de junio del 2024 </p>
        </div>
        <div class="last-search" (click)="navigate('visitors-and-exhibitions')">
            <p> <b> Visitantes y exhibiciones recorridas </b> </p>
            <p> Añadida el 30 de junio del 2024 </p>
        </div>
        <div class="last-search" (click)="navigate('visitors-by-attendances')">
            <p> <b>Visitantes por número de asistencias</b> </p>
            <p> Añadida el 30 de junio del 2024 </p>
        </div>
</div>