
  
.hamburger {
  font-size: 24px;
  background: #10161A;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}

.hamburger:hover {
  translate: translateY(-5px);
}